<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body>
    <div id="app" class="container" style="text-align: center">
        <header style="background-color: cadetblue;
        margin-top: 30px; text-align: center">
            イイ動画チャット
        </header>
        <div class="row">
            <room v-for="room in rooms" :data="room" :key="room.id"></room>
        </div>
    </div>

    <script src="/assets/js/vue.js"></script>
    <script src="/assets/js/whatwg-fetch.js"></script>
    <script src="/assets/js/rooms.js"></script>
</body>

</html>